.learnhistory {
  &__info {
    gap: 100px;
    display: flex;
    align-items: flex-start;

    @include md{
      gap: 50px;
    }

    @include xs{
      gap: 25px;
      align-items: center;
      margin-bottom: 20px;
      flex-direction: column;
    }

    &-text {
      gap: 33px;
      display: flex;
      align-items: center;


      @include md{
        gap: 16px;
      }

      @include xs{
        gap: 50px;
      }
    }

    &-title {
      font-style: normal;
      font-family: "Ruda";
      @include font(600, 32px, 39px, #ffffff);

      @include md{
        @include font(500, 20px, 22px, #ffffff);
      }

      @include xs{
        @include font(400, 22px, 24px, #ffffff);
      }
    }

    &-desc {
      font-style: normal;
      font-family: "Open Sans";
      @include font(400, 16px, 24px, #d7d7d7);

      @include md{
        @include font(300, 12px, 20px, #ffffff);
      }

      @include xs{
        @include font(300, 12px, 14px, #ffffff);
      }
    }

    &-button {
      gap: 14px;
      display: flex;
      align-items: center;
      flex-direction: column;

      @include md{
        gap: 7px;
      }

      @include xs{
        gap: 3px;
      }
    }

    &-btn {
      cursor: pointer;
      padding: 16px 32px;
      font-style: normal;
      border-radius: 4px;
      font-family: "Open Sans";
      border: 1px solid #c922e3;
      @include font(400, 18px, 20px);

      &:hover{
        border: 1px solid #b323c9;
        background:$border-gradient-color;
      }

      &:active{
        background:$revert-border-gradient-color;
      }


      @include md{
        padding: 8px 16px;
        @include font(300, 12px, 18px);
      }

      @include xs{
        padding: 6px 12px;
        @include font(300, 12px, 18px);
      }
    }

    &-imgs {
      gap: 5px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      @include md{
        gap: 3px;
      }

      @include xs{
       flex-direction: column;
      }
    }

    &-img {
      width: 240px;
      height: 160px;

      @include md{
        width: 160px;
        height: 100px;
      }
      @include xs{
        width: 100%;
        height: 200px;
      }
    }
  }
}

.arrowdown {
  width: 15px;
  height: 25px;

  @include md{
    width: 8px;
    height: 12px;
  }
}
.big-img {
  width: 500px;
  height: 345px;
  margin-right: 25px;

  @include md{
    width: 300px;
    height: 200px;
    margin-right: 12px;
  }

  @include xs{
    width: 100%;
    height: 200px;
  }
}
