// sliceNoWrap  Text uzun bo'lib kontentni buzib yubormasligi oldini oladi va oxiriga 3 nuqtaa ... qo'yib yakunlaydi

@mixin sliceNoWrap() {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
  text-overflow: ellipsis;
}

// sliceTextWebkit Title ga qanchada tugashi kerakligi aytiladi(number)kontentni buzib yubormasligi oldini oladi va oxiriga 3 nuqtaa ... qo'yib yakunlaydi

@mixin sliceText($number) {
  overflow: hidden;
  display: -webkit-box !important;
  -webkit-line-clamp: $number !important;
  -webkit-box-orient: vertical !important;
}

@mixin font(
  $font-weight: 400,
  $fontSize: 16px,
  $lineHeight: 24px,
  $textColor: $primaryTextColor,
  $margin-botton: 0
) {
  font-weight: $font-weight;
  font-size: $fontSize;
  line-height: $lineHeight;
  color: $textColor;
  margin-bottom: $margin-botton;
}

@mixin btn(
  $padding-y: 0px,
  $padding-x: 0px,
  $border-radius: 0px,
  $background-color: $globalColor,
  $border: 0 solid transparent
) {
  outline: none;
  border: $border;
  cursor: pointer;
  text-align: center;
  display: inline-block;
  border-radius: $border-radius;
  padding: $padding-y $padding-x;
  background-color: $background-color;
}

// mixin btn(
//   $padding:0,
//   $border-radius:0,
// ){
//   padding:$padding;
//   border-radius:$border-radius;
// }

// * Responsive button disegn */
// buttonlarni standart nomlab olish kerak btn-lg btn-md outline va ularni ichida responsivi yozilaveradi bu shunchaki standart nomlash

/* Resposive mixins */

@mixin xl {
  @media only screen and (max-width: $xl) {
    @content;
  }
}

@mixin lg {
  @media only screen and (max-width: $lg) {
    @content;
  }
}

@mixin md {
  @media only screen and (max-width: $md) {
    @content;
  }
}

@mixin sm {
  @media only screen and (max-width: $sm) {
    @content;
  }
}

@mixin xs {
  @media only screen and (max-width: $xs) {
    @content;
  }
}
